{% block cms_preview_sliding_images %}
<div class="sw-cms-preview-sliding-images row">
    {% for i in 1..8 %}
        <div class="sliding-image">
            <img src="/bundles/administration/static/img/cms/preview_mountain_small.jpg">
        </div>
    {% endfor %}
</div>
{% endblock %}