{% block sw_cms_block_sliding_images %}
    <div class="sw-cms-block-sliding-images overflow">
        <div class="sliding_images_row no-overflow">
            <div class="sliding_images_each">
                <slot name="slideimage_1"></slot>
            </div>
            <div class="sliding_images_each">
                <slot name="slideimage_2"></slot>
            </div>
            <div class="sliding_images_each">
                <slot name="slideimage_3"></slot>
            </div>
            <div class="sliding_images_each">
                <slot name="slideimage_4"></slot>
            </div>
            <div class="sliding_images_each">
                <slot name="slideimage_5"></slot>
            </div>
            <div class="sliding_images_each">
                <slot name="slideimage_6"></slot>
            </div>
            <div class="sliding_images_each">
                <slot name="slideimage_7"></slot>
            </div>
            <div class="sliding_images_each">
                <slot name="slideimage_8"></slot>
            </div>
            <div class="sliding_images_each">
                <slot name="slideimage_9"></slot>
            </div>
            <div class="sliding_images_each">
                <slot name="slideimage_10"></slot>
            </div>
            <div class="sliding_images_each">
                <slot name="slideimage_11"></slot>
            </div>
            <div class="sliding_images_each">
                <slot name="slideimage_12"></slot>
            </div>
            <div class="sliding_images_each">
                <slot name="slideimage_13"></slot>
            </div>
            <div class="sliding_images_each">
                <slot name="slideimage_14"></slot>
            </div>
            <div class="sliding_images_each">
                <slot name="slideimage_15"></slot>
            </div>
        </div>
        <div class="nofloat"></div>
    </div>
{% endblock %}