{% block sw_cms_element_slideimage_preview %}
    <div class="sw-cms-el-preview-slideimage">
        <img class="sw-cms-el-preview-slideimage-img"
             src="/bundles/administration/static/img/cms/preview_mountain_small.jpg">
        <div>Slide Text</div>
    </div>
{% endblock %}